.mainpage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../asset/img/mainpagebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainpage-carousel {
  width: 80%;
  max-width: 1320px;
  min-height: 40%;
  border-radius: 20px;
  border: 3px #0056B3 solid;
  background-color: #f8f9fa;
  opacity: 0.9;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.profile-slide {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.profile-image {
  width: 180px;
  height: 230px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

.profile-right {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 40px;
  justify-items: cetner;
  width: 100%;
  max-width: 600px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.icon {
  font-size: 1.5rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
}

.text {
  font-size: 1.3rem;
  color: #555;
}

.arrow-down {
  border-radius: 15%;
  border: 4px #555 solid;
  background-color: black;
  opacity: 0.8;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.arrow-down a {
  text-decoration: none;
  margin-bottom: 5px;
}

.arrowicon {
  color: #555;
}

.arrow-down p {
  font-size: 1rem;
  font-weight: bold;
  color: #007BFF;
  margin: 0;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
