/* Navbar 기본 스타일 */
.custom-navbar {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

/* 로고 텍스트 스타일 */
.navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.navbar-brand:hover {
  text-shadow: 2px 2px 8px rgba(255, 193, 7, 0.7);
  color: #FFC107;
}

/* 네비게이션 링크 스타일 */
.navbar-links .nav-link {
  font-size: 1.4rem;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease-in-out;
}
.navbar-links .nav-link:hover {
  color: #FFC107;
}
/* 이메일 아이콘 스타일 */
.navbar-mail {
  margin-left: 25px;
  color: white;
  display: flex;
  align-items: center;
}

.mail-icon {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.mail-icon:hover {
  transform: scale(1.2);
  color: #FFC107;
}
